<%- include("../../shared/includes/head", {pageTitle: "Your cart"}) %>
<link rel="stylesheet" href="/styles/cart.css">
<script src="/scripts/cart-item-management.js" defer></script>
</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>Your cart</h1>
    <ul id="cart-items">
        <% for(const cartItem of locals.cart.items) { %> 
        <li>
            <%- include("includes/cart-item", {item: cartItem}) %> 
        </li>
        <% } %> 
    </ul>
    <div id="cart-total">
        <!-- .tofixed(2) is for rounding numbers to only 2 decimal places -->
        <p>Total: <%= locals.cart.totalPrice.toFixed(2) %>€ </p>

        <button class="btn">Buy Products</button>
    </div>
  </main>

  <%- include("../../shared/includes/footer") %>

